

.js-lightBox{
  cursor: pointer;
  opacity: 1;
}

.js-lightBox:hover{
  opacity: 1;
}

.lightBox-view img{
    display: block;
    display: none;
    border:0px;
    margin:0px !important;
}

.lightBox-popupMask{
  position: fixed;
  background:black;
  filter:alpha(opacity=80);/* IE */
  opacity:0.8;
  width:100%;
  height: 100%;
  z-index:9999;
  display: none;
  background-image: url('../images/icon/overlay.png');
}

.lightBox-popup{

}

.lightBox-popup{
  display: none; 
  position: fixed;
  z-index:10000;
  top:0%;
  left:50%;
  height: 50%;
  background-color: white;
  /* margin-left:-500px; */
  border-radius: 10px;
  border:5px solid white;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../images/icon/loading.gif'); 
  background-size: 8%;
}

.lightBox-description .lightBox-btn{
 /*  position: absolute;
  top:0; */
  display: inline-block;
  height: 100%;
  width:50%;
  text-align: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  filter:alpha(opacity=20);/* IE */ 
  opacity: .4;
  background-image: url('../images/icon/opacity.png');
}
.lightBox-description .lightBox-btn:hover{
  filter:alpha(opacity=100);/* IE */ 
  opacity: 1;
}

/* .lightBox-view .lightBox-prev-btn{
  left:0; 
}
.lightBox-view .lightBox-next-btn{
  right:0;
} */

.lightBox-description .lightBox-prev-btn.active{
  background-image: url('../images/icon/prev.png'); 
}
.lightBox-description .lightBox-next-btn.active{
  background-image: url('../images/icon/next.png'); 
}

.lightBox-description .lightBox-prev-btn.disable{
  background-image: url('../images/icon/prev.png');
  opacity: 0.1;
  cursor: default;
}
.lightBox-description .lightBox-next-btn.disable{
  background-image: url('../images/icon/next.png'); 
  opacity: 0.1;
  cursor: default;
}

.lightBox-view .lightBox-description{
  position: absolute;
  bottom:0;
  right:0;
  left:0;
  padding:15px;
  display: none;
  color:white;
  background-color: black;
  filter:alpha(opacity=80);/* IE */ 
  background: rgba(0,0,0,.8);
}
.lightBox-view .lightBox-description .lightBox-current-index{
  margin-top: 5px;
  display: block;
  font-style:italic;
}
.lightBox-view .lightBox-description .lightBox-close{
  float: right;
  display: block;
  width:40px;
  height:40px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url('../images/icon/close.png'); 
  background-position: center center;
}
.lightBox-description .btn-position{
  float: right;
  position:relative;
  width:100px;
  height: 40px;
}


.piclist{ overflow:hidden; margin:0px; padding:0px; padding-top:10px}
.piclist li{ overflow:hidden; margin:0px; padding:0px;list-style:none;float:left; width:25%; text-align:center;margin-bottom:10px; }
.piclist li dl{overflow:hidden; margin:0px; padding:0px; width:90%; margin:0 auto }
.piclist li dl dt{overflow:hidden; margin:0px; padding:0px;position:relative; height:180px; }
.piclist li dl dt img{ width:100%; height:100%; vertical-align:top}
.piclist li dl dd{ font-size:14px; line-height:200%; text-align:center; padding-top:5px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.piclist li dl dd a{font-size:14px; color:#222}
.piclist li dl dd a:hover{ color:#D70303}

.piclist li:hover img{-webkit-transform: scale(1.1);transform: scale(1.1);-moz-transform: scale(1.1);transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;}

@media only screen and ( max-width:1190px ) {
.piclist li dl dt{overflow:hidden; margin:0px; padding:0px;position:relative; height:160px;}
}
@media only screen and ( max-width:800px ) {
.piclist li dl dt{overflow:hidden; margin:0px; padding:0px;position:relative; height:120px;}
}
@media only screen and ( max-width:750px ) {
.piclist li dl dt{overflow:hidden; margin:0px; padding:0px;position:relative; height:104px;}
}

@media only screen and ( max-width:600px ) {
.piclist li dl dt{overflow:hidden; margin:0px; padding:0px;position:relative; height:180px;}
.piclist li dl{overflow:hidden; margin:0px; padding:0px; width:92%; margin:0 auto }
.piclist li{ overflow:hidden; margin:0px; padding:0px;list-style:none;float:left; width:50%; text-align:center;margin-bottom:10px; }
}
@media only screen and ( max-width:450px ) {
.piclist li dl dt{overflow:hidden; margin:0px; padding:0px;position:relative; height:132px;}

}


@media only screen and ( max-width:400px ) {
.piclist li dl dt{overflow:hidden; margin:0px; padding:0px;position:relative; height:110px;}

}

@media only screen and ( max-width:350px ) {
.piclist li dl dt{overflow:hidden; margin:0px; padding:0px;position:relative; height:100px;}
.piclist li dl dd a{font-size:12px;}
}





.piclist1{ overflow:hidden; margin:0px; padding:0px; padding-top:10px}
.piclist1 li{ overflow:hidden; margin:0px; padding:0px;list-style:none;float:left; width:25%; text-align:center;margin-bottom:10px; text-align:center}
.piclist1 li dl{overflow:hidden; margin:0px; padding:0px; width:270px; margin:0 auto }
.piclist1 li dl dt{overflow:hidden; margin:0px; padding:0px;position:relative; height:289px; }
.piclist1 li dl dt img{ width:100%; height:100%; vertical-align:top}
.piclist1 li dl dd{ font-size:14px; line-height:200%; text-align:center; padding-top:5px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.piclist1 li dl dd a{font-size:14px; color:#222}
.piclist1 li dl dd a:hover{ color:#D70303}

.piclist1 li:hover img{-webkit-transform: scale(1.1);transform: scale(1.1);-moz-transform: scale(1.1);transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;}

@media only screen and ( max-width:1190px ) {
.piclist1 li dl{overflow:hidden; margin:0px; padding:0px; width:215px; margin:0 auto }
.piclist1 li dl dt{overflow:hidden; margin:0px; padding:0px;position:relative; height:230px; }
}
@media only screen and ( max-width:800px ) {
.piclist1 li dl{overflow:hidden; margin:0px; padding:0px; width:165px; margin:0 auto }
.piclist1 li dl dt{overflow:hidden; margin:0px; padding:0px;position:relative; height:177px; }
}
@media only screen and ( max-width:750px ) {
.piclist1 li dl{overflow:hidden; margin:0px; padding:0px; width:165px; margin:0 auto }
.piclist1 li dl dt{overflow:hidden; margin:0px; padding:0px;position:relative; height:177px; }
}

@media only screen and ( max-width:670px ) {
.piclist1 li dl{overflow:hidden; margin:0px; padding:0px; width:144px; margin:0 auto }
.piclist1 li dl dt{overflow:hidden; margin:0px; padding:0px;position:relative; height:154px; }
}

@media only screen and ( max-width:600px ) {
.piclist1 li dl{overflow:hidden; margin:0px; padding:0px; width:230px; margin:0 auto }
.piclist1 li dl dt{overflow:hidden; margin:0px; padding:0px;position:relative; height:246px; }
.piclist1 li{ overflow:hidden; margin:0px; padding:0px;list-style:none;float:left; width:50%; text-align:center;margin-bottom:10px; }
}

@media only screen and ( max-width:450px ) {
.piclist1 li dl{overflow:hidden; margin:0px; padding:0px; width:175px; margin:0 auto }
.piclist1 li dl dt{overflow:hidden; margin:0px; padding:0px;position:relative; height:187px; }

}


@media only screen and ( max-width:400px ) {
.piclist1 li dl{overflow:hidden; margin:0px; padding:0px; width:160px; margin:0 auto }
.piclist1 li dl dt{overflow:hidden; margin:0px; padding:0px;position:relative; height:171px; }

}

@media only screen and ( max-width:350px ) {
.piclist1 li dl{overflow:hidden; margin:0px; padding:0px; width:130px; margin:0 auto }
.piclist1 li dl dt{overflow:hidden; margin:0px; padding:0px;position:relative; height:139px; }
}




